# {{ ansible_managed }}
# Jeton SAS limité au conteneur "{{ backup_container }}", durée de vie bornée.
RESTIC_REPOSITORY=azure:{{ backup_container }}:/
AZURE_ACCOUNT_NAME={{ backup_storage_account }}
AZURE_ACCOUNT_SAS={{ backup_sas_token }}
RESTIC_PASSWORD={{ restic_password }}
RESTIC_CACHE_DIR=/var/cache/restic
